# Entorno y Secretos
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.flakes/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv
pip-log.txt
pip-delete-this-directory.txt

# Base de Datos y n8n (Locales si se sacan del volumen)
/db_storage/
/n8n_storage/

# Backups
backups/

# Sistema
.DS_Store
Thumbs.db

# Perfil Personal
.cv/
perfil_candidato.md

.cv/

